html {
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}


body {
    font-size: 1em;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #222;
    background: #FFFFFF;
}

a {
    text-decoration: none;
    color: #0081b6;
    padding-bottom: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition: color 0.5s ease;
}

::selection {
    background: #fef9d8;
}


p {
    font-family: "Lato", serif;
    font-size: 20px;
    font-weight: 400;
}

#main {
    max-width: 960px;
    margin-bottom: 180px;
}

#top {
    margin-top: 120px;
    text-align: center;
}


h1 {
    font-size: 48px;
    font-weight: 200;
}

h2 , #typed{
    margin-top: 50px;
    font-size: 30px;
    font-weight: 200;
    margin-top: 0;
    padding-bottom: 4px;
    text-align: center;
}

.subtop {
    padding-top: 100px;
}

.bold {
    font-weight: 600;
    max-width: 1365px;
}


.link {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: block;
}

.subtitle {
    text-align: center;
    font-size: 40px;
    color: #666;
    letter-spacing: 2px;
    margin-top: 144px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.art {
    text-align: center;
}

.item-name {
    font-size: 16px;
    margin-bottom: 4px;
}

.item-name a {
    border-bottom: 1px dotted #c2dce6;
    color: #222;
    font-weight: 600;
}

.item-desc {
    font-size: 14px;
    margin-bottom: 24px;
}

.links {
    margin-top: 10px !important;
}

.links a {
    display: block;
}

a:hover {
    color: #0081b6;
}
